/* Local Fonts */
@font-face{
  font-family: "DM Serif Display";
  src: url('fonts/dm_serif.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Open Sans";
  src: url('fonts/open_sans.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
	--color-main: #450207;
	--color-cherry: #580005;
	--color-accent: #BF8C14;
	--color-light: #FFF2DA;
	--color-grey: #E8DED5;
	--color-dark: #20110B;
	--color-body: #080000;

 	--font-titles: "DM Serif Display", serif;
 	--font-body: "Open Sans", sans-serif;  
}